# Target Config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

# Set Firmware Size
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960

# Firmware Type
# CONFIG_GRUB_CONSOLE is not set
CONFIG_GRUB_IMAGES=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_VMDK_IMAGES=y

# Image Builder
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_DEVEL=y

CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_autocore-x86=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ipt2socks=y

# File System Drivers
# CONFIG_PACKAGE_kmod-fs-autofs4=y
# CONFIG_PACKAGE_kmod-fs-btrfs=y
# CONFIG_PACKAGE_kmod-fs-cifs=y
# CONFIG_PACKAGE_kmod-fs-exfat=y
# CONFIG_PACKAGE_kmod-fs-exportfs=y
# CONFIG_PACKAGE_kmod-fs-ext4=y
# CONFIG_PACKAGE_kmod-fs-f2fs=y
# CONFIG_PACKAGE_kmod-fs-hfs=y
# CONFIG_PACKAGE_kmod-fs-hfsplus=y
# CONFIG_PACKAGE_kmod-fs-isofs=y
# CONFIG_PACKAGE_kmod-fs-msdos=y
# CONFIG_PACKAGE_kmod-fs-nfs=y
# CONFIG_PACKAGE_kmod-fs-nfs-common=y
# CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
# CONFIG_PACKAGE_kmod-fs-nfs-ssc=y
# CONFIG_PACKAGE_kmod-fs-nfs-v3=y
# CONFIG_PACKAGE_kmod-fs-nfs-v4=y
# CONFIG_PACKAGE_kmod-fs-nfsd=y
# CONFIG_PACKAGE_kmod-fs-ntfs3=y
# CONFIG_PACKAGE_kmod-fs-squashfs=y
# CONFIG_PACKAGE_kmod-fs-udf=y
# CONFIG_PACKAGE_kmod-fs-vfat=y
# CONFIG_PACKAGE_kmod-fs-xfs=y
# CONFIG_PACKAGE_kmod-fuse=y

# USB Storage Drivers
# CONFIG_PACKAGE_kmod-usb-ohci=y
# CONFIG_PACKAGE_kmod-usb-printer=y
# CONFIG_PACKAGE_kmod-usb-roles=y
# CONFIG_PACKAGE_kmod-usb-serial-ch341=y
# CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
# CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
# CONFIG_PACKAGE_kmod-usb-serial-ipw=y
# CONFIG_PACKAGE_kmod-usb-serial-pl2303=y
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
# CONFIG_PACKAGE_kmod-usb-serial-sierrawireless=y
# CONFIG_PACKAGE_kmod-usb-storage=y
# CONFIG_PACKAGE_kmod-usb-storage-extras=y
# CONFIG_PACKAGE_kmod-usb-uhci=y
# CONFIG_PACKAGE_kmod-usb-wdm=y
# CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
# CONFIG_PACKAGE_kmod-usb2=y
# CONFIG_PACKAGE_kmod-usb3=y
# CONFIG_PACKAGE_kmod-usbip=y
# CONFIG_PACKAGE_kmod-usbip-client=y
# CONFIG_PACKAGE_kmod-usbip-server=y
# CONFIG_PACKAGE_kmod-usbmon=y

# USB Net Drivers
# CONFIG_PACKAGE_kmod-usb-audio=y
# CONFIG_PACKAGE_kmod-usb-core=y
# CONFIG_PACKAGE_kmod-usb-dwc2=y
# CONFIG_PACKAGE_kmod-usb-dwc3=y
# CONFIG_PACKAGE_kmod-usb-ehci=y
# CONFIG_PACKAGE_kmod-usb-hid=y
# CONFIG_PACKAGE_kmod-usb-net=y
# CONFIG_PACKAGE_kmod-usb-net-asix=y
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
# CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y
# CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=y
# CONFIG_PACKAGE_kmod-usb-net-hso=y
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
# CONFIG_PACKAGE_kmod-usb-net-ipheth=y
# CONFIG_PACKAGE_kmod-usb-net-kalmia=y
# CONFIG_PACKAGE_kmod-usb-net-kaweth=y
# CONFIG_PACKAGE_kmod-usb-net-mcs7830=y
# CONFIG_PACKAGE_kmod-usb-net-pegasus=y
# CONFIG_PACKAGE_kmod-usb-net-pl=y
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
# CONFIG_PACKAGE_kmod-usb-net-rndis=y
# CONFIG_PACKAGE_kmod-usb-net-rtl8150=y
# CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
# CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
# CONFIG_PACKAGE_kmod-usb-net-smsc95xx=y
# CONFIG_PACKAGE_kmod-usb-net-sr9700=y

# USB Wireless Card Drivers

# Wireless Card Firmware

CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh-cn=y

# Applications
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=n
CONFIG_PACKAGE_luci-app-airplay2=n
CONFIG_PACKAGE_luci-app-aliddns=n
CONFIG_PACKAGE_luci-app-alist=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-alist=n
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-brook-server=n
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-cpufreq=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=n
CONFIG_PACKAGE_luci-app-dnspod=n
CONFIG_PACKAGE_luci-app-ddnsto=n
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-eqos=n
CONFIG_PACKAGE_luci-app-familycloud=n
CONFIG_PACKAGE_luci-app-fileassistant=n
CONFIG_PACKAGE_luci-app-filebrowser=n
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-gowebdav=n
CONFIG_PACKAGE_luci-app-guest-wifi=n
CONFIG_PACKAGE_luci-app-haproxy-tcp=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-ipsec-server=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-irqbalance=n
CONFIG_PACKAGE_luci-app-jd-dailybonus=n
CONFIG_PACKAGE_luci-app-kodexplorer=n
CONFIG_PACKAGE_luci-app-ikoolproxy=n
CONFIG_PACKAGE_luci-app-minidlna=n
CONFIG_PACKAGE_luci-app-music-remote-center=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-mosdns=n
CONFIG_PACKAGE_luci-app-n2n_v2=n
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-nfs=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-nps=n
CONFIG_PACKAGE_luci-app-oaf=n
CONFIG_PACKAGE_luci-app-onliner=n
CONFIG_PACKAGE_luci-app-openclash=n
CONFIG_PACKAGE_kmod-inet-diag=n
CONFIG_PACKAGE_luci-app-openvpn-server=n
CONFIG_PACKAGE_luci-app-poweroff=n
CONFIG_PACKAGE_luci-app-pushbot=n
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_IPv6_Nat=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-ps3netsrv=n
CONFIG_PACKAGE_luci-app-qbittorrent=n
CONFIG_PACKAGE_luci-app-qbittorrent_static=n
CONFIG_PACKAGE_luci-app-rclone=n
CONFIG_PACKAGE_luci-app-shairplay=n
CONFIG_PACKAGE_luci-app-socat=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-serverchan=n
CONFIG_PACKAGE_luci-app-softethervpn=n
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Hysteria=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=y 
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-mudb-server=n
CONFIG_PACKAGE_luci-app-store=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-tencentddns=n
CONFIG_PACKAGE_luci-app-tinyproxy=n
CONFIG_PACKAGE_luci-app-transmission=n
CONFIG_PACKAGE_luci-app-trojan-server=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_SHORTCUT_FE_CM=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_luci-app-uugamebooster=n
CONFIG_PACKAGE_luci-app-wireguard=n
CONFIG_PACKAGE_luci-app-webadmin=n
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-udptools=n
CONFIG_PACKAGE_luci-proto-ipv6=n
CONFIG_PACKAGE_luci-proto-minieap=n
CONFIG_PACKAGE_luci-proto-bonding=n
CONFIG_PACKAGE_luci-proto-openconnect=n
CONFIG_PACKAGE_luci-proto-relay=n
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_DEFAULT_autosamba=n
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-vsftpd=n

# Themes
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-atmaterial=y
CONFIG_PACKAGE_luci-theme-edge=y
CONFIG_PACKAGE_luci-theme-infinityfreedom=y
CONFIG_PACKAGE_luci-theme-design=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_luci-theme-opentomcat=y

# Network Devices
# CONFIG_PACKAGE_kmod-dummy=y
# CONFIG_PACKAGE_kmod-fixed-phy=y
# CONFIG_PACKAGE_kmod-ifb=y
# CONFIG_PACKAGE_kmod-libphy=y
# CONFIG_PACKAGE_kmod-macvlan=y
# CONFIG_PACKAGE_kmod-mdio-devres=y
# CONFIG_PACKAGE_kmod-mii=y
# CONFIG_PACKAGE_kmod-net-selftests=y
# CONFIG_PACKAGE_kmod-of-mdio=y
# CONFIG_PACKAGE_kmod-phy-ax88796b=y
# CONFIG_PACKAGE_kmod-phy-smsc=y

# Network Support
# CONFIG_PACKAGE_kmod-9pnet=y
# CONFIG_PACKAGE_kmod-bonding=y
# CONFIG_PACKAGE_kmod-dnsresolver=y
# CONFIG_PACKAGE_kmod-gre=y
# CONFIG_PACKAGE_kmod-ipsec=y
# CONFIG_PACKAGE_kmod-ipsec4=y
# CONFIG_PACKAGE_kmod-ipsec6=y
# CONFIG_PACKAGE_kmod-iptunnel=y
# CONFIG_PACKAGE_kmod-iptunnel4=y
# CONFIG_PACKAGE_kmod-iptunnel6=y
# CONFIG_PACKAGE_kmod-l2tp=y
# CONFIG_PACKAGE_kmod-ppp=y
# CONFIG_PACKAGE_kmod-mppe=y
# CONFIG_PACKAGE_kmod-pppoe=y
# CONFIG_PACKAGE_kmod-pppox=y
# CONFIG_PACKAGE_kmod-qrtr=y
# CONFIG_PACKAGE_kmod-qrtr-mhi=y
# CONFIG_PACKAGE_kmod-sched-cake=y
# CONFIG_PACKAGE_kmod-sched-connmark=y
# CONFIG_PACKAGE_kmod-sched-core=y
# CONFIG_PACKAGE_kmod-sit=y
# CONFIG_PACKAGE_kmod-slhc=y
# CONFIG_PACKAGE_kmod-tcp-bbr=y
# CONFIG_PACKAGE_kmod-tun=y
# CONFIG_PACKAGE_kmod-udptunnel4=y
# CONFIG_PACKAGE_kmod-udptunnel6=y
# CONFIG_PACKAGE_kmod-veth=y
# CONFIG_PACKAGE_kmod-vxlan=y

# Camera Drivers
# CONFIG_PACKAGE_kmod-i2c-core=y
# CONFIG_PACKAGE_kmod-video-core=y
# CONFIG_PACKAGE_kmod-video-uvc=y

# 3G/4G Support
# CONFIG_PACKAGE_comgt-ncm=y
# CONFIG_PACKAGE_comgt=y
# CONFIG_PACKAGE_kmod-mii=y
# CONFIG_PACKAGE_kmod-usb-acm=y
# CONFIG_PACKAGE_kmod-usb-serial=y
# CONFIG_PACKAGE_kmod-usb-serial-option=y
# CONFIG_PACKAGE_kmod-usb-serial-wwan=y
# CONFIG_PACKAGE_luci-proto-3g=y
# CONFIG_PACKAGE_luci-proto-ncm=y
# CONFIG_PACKAGE_luci-proto-qmi=y
# CONFIG_PACKAGE_qmi-utils=y
# CONFIG_PACKAGE_umbim=y
# CONFIG_PACKAGE_uqmi=y
# CONFIG_PACKAGE_usb-modeswitch=y

# SDCard Support
# CONFIG_PACKAGE_kmod-sdhci=y

# Mobile Net Sharing
# CONFIG_PACKAGE_libimobiledevice-utils=y
# CONFIG_PACKAGE_libplist=y
# CONFIG_PACKAGE_libusbmuxd-utils=y
# CONFIG_PACKAGE_usbmuxd=y

# Python3
# CONFIG_PACKAGE_python-pip-conf=y
# CONFIG_PACKAGE_python3=y

# Software
# CONFIG_PACKAGE_ariang=y
# CONFIG_PACKAGE_automount=y
# CONFIG_PACKAGE_autosamba=y
# CONFIG_PACKAGE_bsdtar=y
# CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
# CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=y
# CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=y
# CONFIG_PACKAGE_ddns-scripts_no-ip_com=y
# CONFIG_PACKAGE_ddns-scripts_nsupdate=y
# CONFIG_PACKAGE_ddns-scripts_route53-v1=y
# CONFIG_PACKAGE_diffutils=y
# CONFIG_PACKAGE_docker-compose=y
# CONFIG_PACKAGE_e2fsprogs=y
# CONFIG_PACKAGE_f2fs-tools=y
# CONFIG_PACKAGE_f2fsck=y
# CONFIG_PACKAGE_fdisk=y
# CONFIG_PACKAGE_gpiod-tools=y
# CONFIG_PACKAGE_gzip=y
# CONFIG_PACKAGE_hostapd-common=y
# CONFIG_PACKAGE_htop=y
# CONFIG_PACKAGE_iperf3=y
# CONFIG_PACKAGE_lsblk=y
# CONFIG_PACKAGE_lscpu=y
# CONFIG_PACKAGE_nano-plus=y
# CONFIG_PACKAGE_nginx=y
# CONFIG_PACKAGE_openssh-sftp-client=y
# CONFIG_PACKAGE_openssh-sftp-server=y
# CONFIG_PACKAGE_resize2fs=y
# CONFIG_PACKAGE_snmpd=y
# CONFIG_PACKAGE_tmux=y
# CONFIG_PACKAGE_tree=y
# CONFIG_PACKAGE_unzip=y
# CONFIG_PACKAGE_usbutils=y
# CONFIG_PACKAGE_vim-fuller=y
# CONFIG_PACKAGE_whereis=y
# CONFIG_PACKAGE_wireless-tools=y
# CONFIG_PACKAGE_wpad-openssl=y
# CONFIG_PACKAGE_zsh=y

# Shortcut-Fe
# CONFIG_PACKAGE_kmod-shortcut-fe=y
# CONFIG_PACKAGE_kmod-shortcut-fe-cm=y

# CONFIG_PACKAGE_libuhttpd-openssl=y
# CONFIG_PACKAGE_libustream-wolfssl=y
# CONFIG_PACKAGE_luci-ssl=y
# CONFIG_PACKAGE_px5g-wolfssl=y

# Ipv6 Support
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y
